@using Microsoft.AspNet.Identity
@model ManageUserViewModel

<div class="container-fluid">
    <h4>密码修改</h4>
    <p class="text-info">你已经用 <strong>@User.Identity.GetUserName()</strong>登录.</p>
</div>
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-error" })
    <div class="control-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
        </div>
    </div>

    <div class="control-group">
        <div class="offset2 span10">
            <input type="submit" value="修改密码" class="btn btn-default" />
        </div>
    </div>
}
