@model List<UserWithRolesViewModel>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_AceLayout.cshtml";
   var roles = (List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewData["Roles"];
}

<h2>用户列表</h2>

<p>
    @Html.ActionLink("新增用户", "AddUser", null, new { @class="btn btn-success btn-sm"})
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            用户编号
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NickName)*@
            用户名
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            邮箱
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
            手机号
        </th>

        @*<th>
        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LockoutEnabled)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AccessFailedCount)
    </th>*@

        @*<th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </th>*@
        <th>用户权限</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>*@

            @*<td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecurityStamp)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                
                @*@foreach (var role in item.User.Roles)
                {
                    <span class="label label-success" roleid="@role.RoleId">@roles.Single(s=>s.Id==role.RoleId).Name <a href="#" class="role-delete" style="color:red;background-color:white" roleid="@roles.Single(s=>s.Id==role.RoleId).Name" userid="@item.User.Id">X</a></span>
                }*@
                @foreach (var role in item.Roles)
                {
                    <span class="label label-success" roleid="@role">@role <a href="#" class="role-delete" style="color:red;background-color:white" roleid="@role" userid="@item.User.Id">X</a></span>
                }
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-warning btn-xs dropdown-toggle">
                        <span class="ace-icon glyphicon glyphicon-plus"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-warning">
                        @foreach (var roleItem in roles)
                        {
                            <li>
                                <a href="#" class="role-add" rolename="@roleItem.Name" userid="@item.User.Id">@roleItem.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".role-delete").click(function () {
                if (confirm("确定删除?")) {
                    var roleName = $(this).attr("roleid");
                    var userId = $(this).attr("userid");
                    var $el = $(this);
                    $.post("/Account/DeleteRole", { roleName: roleName, userId: userId }, function (xhr) {
                        if (xhr == "success") {
                            $el.parent().remove();
                        } else {
                            alert("删除失败！    "+xhr);
                        }
                    });
                }
            });
            $(".role-add").click(function () {
                if (confirm("确定增加?")) {
                    var roleName = $(this).attr("rolename");
                    var userId = $(this).attr("userid");
                    var $el = $(this);
                    $.post("/Account/AddRoleToUser", { roleName: roleName, userId: userId }, function (xhr) {
                        if (xhr == "success") {
                            $el.parent().parent().parent().parent()
                                .append('<span class="label label-success" roleid="'+roleName+'">'+roleName+' <a href="#" class="role-delete" style="color:red;background-color:white" roleid="'+roleName+'" userid="'+userId+'">X</a></span>');
                        } else {
                            alert("增加失败！    " + xhr);
                        }
                    });
                }
            });


        })
    </script>
}