@model EDMWebsite.Models.DbModels.Room

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AceLayout.cshtml";
}

<div id="user-profile-3" class="user-profile row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-16">
                <li class="active">
                    <a data-toggle="tab" href="#edit-basic">
                        <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                        基本信息
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#edit-settings">
                        <i class="purple ace-icon fa fa-cog bigger-125"></i>
                        能耗项目配置
                    </a>
                </li>

                @*<li>
                        <a data-toggle="tab" href="#edit-password">
                            <i class="blue ace-icon fa fa-key bigger-125"></i>
                            其他信息
                        </a>
                    </li>*@
            </ul>

            <div class="tab-content profile-edit-tab-content">
                <div id="edit-basic" class="tab-pane  in active">
                    @using (Html.BeginForm())
                    {
                        <div class="form-horizontal">
                            @Html.AntiForgeryToken()
                            <h4 class="header blue bolder smaller">一般信息</h4>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "col-xs-12 col-sm-10" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-xs-12 col-sm-10" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "col-xs-12 col-sm-10" })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "col-xs-12 col-sm-10" } })
                                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "col-xs-12 col-sm-10" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BuildingId, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.BuildingId, (List<SelectListItem>)ViewData["Buildings"], htmlAttributes: new { @class = "col-xs-12 col-sm-10" })
                                    @Html.ValidationMessageFor(model => model.BuildingId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.InstituteId, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.InstituteId, (List<SelectListItem>)ViewData["Institutes"], htmlAttributes: new { @class = "col-xs-12 col-sm-10" })
                                    @Html.ValidationMessageFor(model => model.InstituteId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    保存
                                </button>

                                &nbsp; &nbsp;
                                <a href="/Rooms/Index" class="btn">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    返回列表
                                </a>
                            </div>
                        </div>

                    }
                </div>

                <div id="edit-settings" class="tab-pane">
                    <div class="row">

                        <div class="widget-box  widget-color-orange">
                            <div class="widget-header widget-header-small">
                                <h6 class="widget-title">
                                    <i class="ace-icon fa fa-sort"></i>
                                    能耗分项管理
                                </h6>
                                <div class="widget-toolbar">

                                    @*<a href="#" data-action="settings">
                                            <i class="ace-icon fa fa-cog"></i>
                                        </a>*@

                                    <a href="#" id="previewBtn">
                                        <i class="ace-icon fa fa-refresh"></i>
                                    </a>

                                    @*<a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-plus" data-icon-show="fa-plus" data-icon-hide="fa-minus"></i>
                                        </a>*@

                                    @*<a href="#" data-action="close">
                                            <i class="ace-icon fa fa-times"></i>
                                        </a>*@
                                </div>
                            </div>
                            <div class="widget-body">
                                @*toolbox*@
                                <div class="widget-toolbox" style="display:none;">
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-success btn-white btn-round">
                                                <i class="ace-icon fa fa-check bigger-110 green"></i>
                                                Approve
                                            </button>

                                            <button class="btn btn-sm btn-danger btn-white btn-round">
                                                <i class="ace-icon fa fa-times bigger-110 red2"></i>
                                                Reject
                                            </button>
                                        </div>

                                        <div data-toggle="buttons" class="btn-group">
                                            <label class="btn btn-sm btn-default btn-white btn-round">
                                                <i class="icon-only ace-icon fa fa-bold bigger-110"></i>

                                                <input type="checkbox" value="1">
                                            </label>

                                            <label class="btn btn-sm btn-default btn-white btn-round">
                                                <i class="icon-only ace-icon fa fa-italic bigger-110"></i>

                                                <input type="checkbox" value="2">
                                            </label>
                                        </div>

                                        <div data-toggle="buttons" class="btn-group">
                                            <label class="btn btn-sm btn-primary btn-white btn-round">
                                                <i class="icon-only ace-icon fa fa-align-left bigger-110"></i>

                                                <input type="radio" value="1">
                                            </label>

                                            <label class="btn btn-sm btn-primary btn-white btn-round">
                                                <i class="icon-only ace-icon fa fa-align-center bigger-110"></i>

                                                <input type="radio" value="2">
                                            </label>

                                            <label class="btn btn-sm btn-primary btn-white btn-round">
                                                <i class="icon-only ace-icon fa fa-align-right bigger-110"></i>

                                                <input type="radio" value="3">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-bordered table-hover " id="roomHostTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                IP地址
                                            </th>
                                            <th>
                                                端口号
                                            </th>
                                            <th>
                                                能耗类型
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model.Hosts)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Hosts)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Port)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EnergyType.F_EnergyItemName)
                                                    </td>
                                                    <td>
                                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs",roomhostId=item.Id })
                                                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-xs" })*@
                                                        @*@Html.ActionLink("删除", "#", new { id = item.Id }, new { @class = "btn btn-danger btn-xs btn-delete-host", roomhostId = item.Id })*@
                                                        <a href="#" class="btn btn-danger btn-xs btn-delete-host" roomhostid=@item.Id>删除</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>




                        <form id="add-roomhost-form">
                            <div class="form-horizontal">
                                @Html.Hidden("roomId", Model.Id)
                                <div class="col-xs-12 col-sm-12">

                                    <h4 class="header blue bolder smaller">新增能耗项目配置</h4>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-username">IP地址</label>

                                        <div class="col-sm-9">
                                            <input class="col-xs-12 col-sm-10 input-mask-ip" type="text" id="Hosts" name="Hosts" placeholder="IP地址" value="192.168.0.1" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-username">端口号</label>

                                        <div class="col-sm-9">
                                            <input class="col-xs-12 col-sm-10" type="text" id="Port" name="Port" placeholder="端口号" value="0" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-username">能耗类型</label>

                                        <div class="col-sm-9">

                                            @Html.DropDownList("EnergyType", (List<SelectListItem>)ViewData["EnergyType"], htmlAttributes: new { @class = "col-xs-12 col-sm-10" })

                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a href="#" class="btn btn-primary" id="addRoomHost">增加</a>
                                        &nbsp; &nbsp;
                                        <a href="/Rooms/Index" class="btn">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            返回列表
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </form>



                    </div>

                </div>



            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/content/ace_admin1.3.1/assets/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">

        $(function () {

            //var roomhostTable = $("#roomHostTable").dataTable();
            //$('.input-mask-ip').mask('999.999.999.999');
            //$('.energyType_chosen').addClass("col-xs-12 col-sm-10");

            $("#roomHostTable").on("click", ".btn-delete-host", function () {
                var $el = $(this);
                var roomHostId = $(this).attr("roomhostId");
                var roomId = $("#roomId").val();
                $.post("/Rooms/DeleteRoomHost", { id: roomHostId, roomId: roomId }, function (xhr) {
                    if (xhr == "Success") {
                        Notificate("提示", "删除成功！")
                        $el.parent().parent().remove();
                    }
                });
            });

            //$(".btn-delete-host").click(function () {
            //    var $el = $(this);
            //    var roomHostId = $(this).attr("roomhostId");
            //    var roomId = $("#roomId").val();
            //    $.post("/Rooms/DeleteRoomHost", { id: roomHostId, roomId: roomId }, function (xhr) {
            //        if (xhr == "Success") {
            //            Notificate("提示", "删除成功！")
            //            $el.parent().parent().remove();
            //        }
            //    });
            //});

            $("#addRoomHost").click(function () {
                var ip = $("#Hosts").val();
                var port = $("#Port").val();
                var energyTypeName = $("#EnergyType option:selected").text();

                if (ip==undefined || ip=="") {
                    alert("ip地址不能为空");
                    return;
                }
                if (port == undefined || port == "") {
                    alert("端口号不能为空");
                    return;
                }


                var datastring = $("#add-roomhost-form").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Rooms/AddRoomHost",
                    data: datastring,
                    success: function (data) {
                        //var obj = jQuery.parseJSON(data); if the dataType is not specified as json uncomment this
                        // do what ever you want with the server response
                        //alert("Success");
                        if (data.indexOf("错误") > -1) {
                            Notificate("提示", data);
                        } else {
                            var id = data;
                            Notificate("提示", "添加成功！");
                            //TODO:增加到列表上
                            var html = '<tr>' + '<td>' + ip + '</td>' + '<td>' + port + '</td>' + '<td>' + energyTypeName + '</td>' + '<td><a href="#" class="btn btn-danger btn-xs btn-delete-host" roomhostid=' + id + '>删除</a></td>' + '</tr>';


                            $("#roomHostTable > tbody").append(html);


                        }
                    },
                    error: function (errormsg) {
                        alert(errormsg.responseText);
                    }
                });
            });
        })
    </script>
}