@model IEnumerable<EDMWebsite.Models.DbModels.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AceLayout.cshtml";
}

<h2>房间列表</h2>

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-success btn-sm" })
</p>
<div class="row">
    <div class="col-sm-12">


        <table class="table table-bordered table-hover data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BuildingId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InstituteId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Area)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Building.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Institute.Name)
                        </td>
                        <td>
                            @*<a href="#" id="btnEdit" attrId="@item.Id">Edit</a> |*@
                            @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { id = "btnEdit", attrId = item.Id, @class = "btn btn-primary btn-xs" })
                            @Html.ActionLink("详情", "Details", new { id = item.Id }, new { @class = "btn btn-success btn-xs" })
                            @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div id="modal-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Please fill the following form fields</h4>
            </div>

            <div class="modal-body">
                <div class="row" id="modal-content">


                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div><!-- PAGE CONTENT ENDS -->
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#btnEditCancle").click(function () {
                var attrId = $(this).attr("attrId");
                $.get("/Rooms/Edit?id=" + attrId, function (xhr) {
                    $("#modal-content").html(xhr);
                    $("#modal-form").modal("show");
                });
            });
        })
    </script>
}