@model List<CC.EDM.Model.RealEDMDb.T_EC_EnergyItemDayResult>
<table class="table table-bordered table-hover  data-table">
    <thead>
        <tr>
            <th>建筑名</th>
            <th>能源编号</th>
            <th>能源名称</th>
            <th>用量</th>
            <th>日期</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.T_BD_BuildBaseInfo.F_BuildName</td>
                <td>@item.T_DT_EnergyItemDict.F_EnergyItemCode</td>
                <td>@item.T_DT_EnergyItemDict.F_EnergyItemName</td>
                <td>@item.F_DayValue</td>
                <td>@item.F_StartDay.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>

