@model List<EDMWebsite.Models.DbModels.EnergyItemMonthResult>
<table class="table table-bordered table-hover  data-table">
    <thead>
        <tr>
            <th>建筑名</th>
            <th>能源编号</th>
            <th>能源名称</th>
            <th>用量</th>
            <th>日期</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Room.Name</td>
                <td>@item.EnergyType.F_EnergyItemCode</td>
                <td>@item.EnergyType.F_EnergyItemName</td>
                <td>@item.EnergyValue</td>
                <td>@item.StartDate.ToString("yyyy-MM")</td>
            </tr>
        }
    </tbody>
</table>

